<div class="div-container">
  <mat-card class="title">
    <mat-card-title> Employees List</mat-card-title>
  </mat-card>
  <mat-card class="container">
    <mat-card id="user-card-attribute" class="mat-elevation-z8" *ngFor="let user of owners">
      <div class="card-content">
        <img [src]="user.imageUrl" [alt]="user.username" class="mat-card-avatar">
        <div>
          <mat-card-title>{{ user.firstName }} {{user.lastName }}</mat-card-title>
          <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
          <mat-card-subtitle>{{ user.jobTitle }}</mat-card-subtitle>
          <mat-card-subtitle>{{ user.phone }}</mat-card-subtitle>
        </div>
      </div>
    </mat-card>
  </mat-card>
  <mat-paginator class="mat-elevation-z8"
                 style="margin-top: 10px;"
                 [length]="count"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizes">
  </mat-paginator>
</div>



