<mat-toolbar color="primary" routerLinkActive="active">
  <img
    alt="Angular Logo"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Circle-icons-scissors.svg/1200px-Circle-icons-scissors.svg.png"
  />
  <button mat-button routerLink="home">Home</button>
  <button mat-button *ngIf="showAdminAccount" routerLink="admin">Users List</button>
  <button mat-button *ngIf="showOwnerAccount" routerLink="owner">Schedule</button>
  <button mat-button *ngIf="showUserAccount" routerLink="user">User</button>
  <button mat-button *ngIf="!isLoggedIn" routerLink="employees">All employees</button>
  <div class="flex-spacer"></div>
  <button mat-button *ngIf="!isLoggedIn" routerLink="register">Sign Up</button>
  <button mat-button *ngIf="!isLoggedIn" routerLink="login">Login</button>
  <button mat-button *ngIf="isLoggedIn" routerLink="profile"> {{ username }}</button>
  <button mat-button *ngIf="isLoggedIn" (click)="logout()" routerLink="home">LogOut</button>
</mat-toolbar>

