<mat-card style="margin-top: 80px; background: #FFFFF0">
  <mat-grid-list cols="2" rowHeight="340px">
    <mat-grid-tile class="first"><div class="container">
      <h2 class="title">
        <span class="title-word title-word-1">WELCOME</span>
        <span class="title-word title-word-2">TO</span>
        <span class="title-word title-word-3">BEAUTY</span>
        <span class="title-word title-word-4">SALON</span>
        <span class="title-word title-word-4">SCHEDULER</span>
      </h2>
    </div>
    </mat-grid-tile>
    <mat-grid-tile class="second" rowspan="2"><img src="assets/images/stylist.png"></mat-grid-tile>
    <mat-grid-tile class="third">3</mat-grid-tile>
  </mat-grid-list>
</mat-card>
