<div mat-dialog-content class="dialog">
  <h1 mat-dialog-title>Update Profile Information</h1>
  <div>
    <p style="font-weight: bold; font-size: 18px">Job</p>
    <mat-form-field appearance="fill">
      <mat-label>Job</mat-label>
      <input matInput [(ngModel)]="data.jobTitle">
    </mat-form-field>
  </div>
  <div mat-dialog-content class="content">
    <p style="font-weight: bold; font-size: 18px">Roles</p>
    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select [(value)]="data.roles">
        <mat-option [value]="option1">admin</mat-option>
        <mat-option [value]="option2">owner</mat-option>
        <mat-option [value]="option3">user</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="buttons">
    <button class="mat-elevation-z8" mat-button style="background: red; color: white;" (click)="onNoClick()">
      <mat-icon>cancel</mat-icon>Cancel</button>
    <button class="mat-elevation-z8" mat-button style="background: #FF8C00; color: white" (click)="onSubmit(data.id, data)">
      <mat-icon>edit</mat-icon>Update</button>
  </div>
</div>
