<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<span class="material-icons" >search</span>
<mat-form-field class="input-field">
  <input matInput
         class="search-input"
         type="search"
         placeholder="Search users"
         [(ngModel)]="keyword">
</mat-form-field>
<button mat-button
        class="search-button"
        (click)="searchKeyword()"
>Search</button>
<button mat-button
        class="clear-button"
        (click)="clearSearch()">
  Clear
</button>

  <div class="user-card" >
  <mat-card id="user-card-attribute" class="mat-elevation-z8"
            *ngFor="let user of users">
    <mat-icon>
      <img class="user-image" [src]="user.imageUrl" [alt]="user.username"/>
    </mat-icon>
    <mat-card-title style="margin-top: 5px;">{{ user.firstName }} {{user.lastName }}</mat-card-title>
    <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
    <mat-card-subtitle>{{ user.jobTitle }}</mat-card-subtitle>
    <mat-card-subtitle>{{ user.city }}</mat-card-subtitle>
    <button class="mat-elevation-z8"
            mat-button style="background: red;
            color: white; margin: 2px;"
            (click)="deleteUser(user.id)"
    >Delete User</button>
    <button class="mat-elevation-z8"
            mat-button style="background: #FF8C00; color: white"
            (click)="openDialog(user.id, user)"
    >Update User</button>
  </mat-card>
  </div>
  <mat-paginator class="mat-elevation-z8"
                 style="margin: 5px;"
                 [length]="count"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizes">
  </mat-paginator>




