<mat-card class="mat-elevation-z8 "
          style="margin: 5px;">
  <input matInput style="text-align: center;border: 1px solid #000; max-width: 200px"
         type="search"
         placeholder="Search by title"
         [(ngModel)]="keyword"
  >
  <div _ngcontent-nrs-c36="" class="flex-spacer"></div>
  <button mat-icon-button class="mat-elevation-z8" mat-icon-button style="border-radius: 10px; width:100px; background: #5fb93a; color: white"
          (click)="searchKeyword()"
  >Search</button>

  <button class="mat-elevation-z8"
          mat-icon-button style="background: red;
            color: white; margin: 2px;width: 100px; border-radius: 10px" mat-button
          (click)="removeAllUsers()">
    Remove All
  </button>
</mat-card>
<div class="user-card" >
    <mat-card class="mat-elevation-z8" *ngFor="let user of users" style=" max-width: 175px;">
      <mat-icon>
        <img [src]="user.imageUrl" [alt]="user.username" width="40" height="40"/>
      </mat-icon>
      <mat-card-title style="margin-top: 5px;">{{ user.firstName }} {{user.lastName }}</mat-card-title>
      <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
      <mat-card-subtitle>{{ user.jobTitle }}</mat-card-subtitle>
      <mat-card-subtitle>{{ user.city }}</mat-card-subtitle>
      <button class="mat-elevation-z8"
              mat-icon-button style="background: red;
            color: white; margin: 2px; border-radius: 10px"
              (click)="deleteUser(user.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button class="mat-elevation-z8" mat-icon-button style="border-radius: 10px; background: #FF8C00; color: white">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card>
  </div>
  <mat-paginator class="mat-elevation-z8"
                 style="margin: 5px;"
                 [length]="count"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizes">

  </mat-paginator>
