.mat-icon img {
  width: 40px;
  height: 40px;
}

.mat-card {
  display: table-cell;
}

.flex-spacer {
  flex-grow: 1;
}

.user-image {
  width: 40px;
  height: 40px;
}

.material-icons {
  font-size: 20px;
}

.input-field {
  margin: 0 0 0 10px;
}

.search-input {
  margin: 5px;
}

.search-button {
  margin: 5px;
}

.search-button:hover {
  background-color: #F8F8FF;
}

.clear-button {
  margin: 5px;
}

.clear-button:hover {
  background-color: #F8F8FF;
}

#user-card-attribute {
  max-width: 340px;
  /*background-color: #FFFFF0;*/
}

.user-card {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);
}
mat-paginator {
  background-color: #FFFFF0;
}

@media (min-width: 777px) {
  .user-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }
}


@media (min-width: 1100px) {
  .user-card {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1428px) {
  .user-card {
    grid-template-columns: repeat(4, 1fr);
  }
}




