.mat-card {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

img {
  width: 8em;
  height: 8em;
  border: 10px solid #FFFFF0;
  border-radius: 50%;
  position: revert;
  margin-left: 76px;
  margin-top: -4.5em;
  background-color: #FFFFF0;
}

#current-user {
  display: grid;
  position: center;
  text-align: center;
  right: 0;
  width: 350px;
  bottom: -2em;
  border-radius: 1em;
  background-color: #FFFFF0;
}

.button-item {
  margin-top: 35px;
  background-color: #3f51b5;
  color: #F0F8FF;
}

.button-item:hover {
  background-color: #FFCC01;
  color: black;
}

p {
  margin-top: 35px;
}

strong {
  margin-right: 3px;
}

