<div class="mat-card" *ngIf="currentUser">
  <header class="mat-card-header">
    <img [src]="currentUser.imageUrl" [alt]="currentUser.username" width="40" height="40"/>
    <br/>
    <h3 class="mat-slider-thumb-label-text">
      <strong>{{ currentUser.username }}</strong>: Profile
    </h3>
  </header>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <p>
    <strong>Phone:</strong>
    {{ currentUser.phone }}
  </p>
  <p>
    <strong>Date of birth:</strong>
    {{ currentUser.dateOfBirth }}
  </p>
  <p *ngIf="currentUser.jobTitle !== 'user'">
    <strong>Job:</strong>
    {{ currentUser.jobTitle }}
  </p>
  <strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
  <button mat-raised-button (click)="openDialog()">Update profile information</button>
</div>

